body {
  --main-page-color: #19181A;
  --article-heading-color: #DF9A10;
  --subtext-color: #B19F9E;
  --article-main-text-color: #B19F9E;
  --nav-list-color: #B19F9E;

  /* font-family: 'Playfair Display', serif; */
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
  
  max-width: 70%;
  margin: auto;

 background-color: var(--main-page-color, #19181A);
}



main{
  display: flex;
  flex-direction: row;
}

li {
  color: var(--article-main-text-color, #7F7F7F);
}
p {
  font-size: 1rem;
  color: var(--article-main-text-color, #7F7F7F);
}

h2 {
 color: var(--article-heading-color, #DF9A10);
 text-align: center;
 line-height: 1px;
}
h3{
  font-size: 1rem;
  color: var(--subtext-color, #7F7F7F);
  text-align: center;
}

header{
display: flex;
justify-content: space-between;
flex-direction: row;
margin-bottom: 1.5vw;
}

.logo {
  font-size: 3rem;
  color: var(--article-heading-color, #DF9A10);
}

.latest-article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
}

.latest-article h1{
  color: var(--article-heading-color, #DF9A10);
  font-size: 3rem;

}

nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2vw;
  width: 10vw;
  margin-right: 2vw;
}

.nav-list {
  
  padding-top: 1vw;
  padding-left: 0.5vw;
  
}

.nav-list a{
  text-decoration: none;
  /* color: var(--nav-list-color, #B19F9E); */
  color: var(--article-heading-color, #DF9A10);
}
.nav-list a:hover {
  color: var(--nav-list-color, #B19F9E);
 
}
.continue{
  text-align: right;
  padding-bottom: 8vw;
}
.continue a{
  color: var(--article-heading-color, #DF9A10);
  text-decoration: none;
}

.continue a:hover{
  color: var(--article-main-text-color, #7F7F7F);
  text-decoration: underline;
}

.latest-article img{
  width: 38vw;
  height: 12vw;
  
}

.text-content{
  padding: 0vw 4vw 0vw 2vw;
}

.text-content h1{
  font-size: 3vw;
  text-align: center;
  line-height: 1px;
}

.side-articles{
  width: 20vw;
  margin-left: 6vw; 
}

.side-articles a{
  text-decoration: none;
}

.side-articles img{
  width: 20vw;
  height: 10vw;
}

.s-article-container{
  margin-bottom: 2vw;
  
  }
  
.s-article-container:hover{
    opacity: 70%;
  }

.s-article-container h2{
    margin-bottom: 2vw;
    font-size: 2.5vw;
    }


@media screen and (max-width: 900px) {
      main{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      body{
        max-width: 90%;
        margin: auto;
      }

      nav{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 3vw;
        margin-bottom:3vw;
        width: 10vw;
        margin-right:10%;
      }
      .latest-article h1{
        color: var(--article-heading-color, #DF9A10);
        font-size: 3rem;
      
      }

      .latest-article{
        width:90%;
      }

      .latest-article img{
        width: 80vw;
        height: 20vw;
        
      }
      
      .latest-article-img {
        display: flex;
        flex-direction: column;
        align-items: center;
      }


      .side-articles{
        display: flex;
        flex-direction: row;
      }

      .side-articles p{
      display: none;
      }

      .s-article-container {
        margin: 0vw 1vw 0vw 1vw;
      }

      .s-article-container h3{
        margin-bottom: 2vw;
        font-size: 2.5vw;
        }
        .side-articles{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
        }


     }
 @media screen and (max-width: 700px) {
      header{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 1.5vw;
        }

        nav{
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-top: 2vw;
          margin-bottom:3vw;
          width: 10vw;
          margin-left: 60%;
        }
        
        .nav-list {
          padding-top: 1vw;
          padding-left: 0.5vw;
        }
       
    }

@media screen and (max-width: 530px) {
      

        nav{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 10vw;
          margin-left: 40%;
        }

    #about{
      margin-bottom: 1vw;
    }
    #contacts{
      margin-top: 1vw;
    }

    #archive {
      margin-top: 1vw;
    }

    .latest-article h1{
      color: var(--article-heading-color, #DF9A10);
      font-size: 2rem;
    }

   

    
    }

    /* @media screen and (min-width: 530px){
      #archive {
        display: none;
      }
    } */

